/vendor/
/.idea/
/.vscode/
/.env
/.env.*
!/env.example
/composer.lock
/storage/cache/*
/storage/compiled_tpl/*
/storage/logs/*
/storage/sessions/*
/storage/uploads/*
!/storage/cache/.gitkeep
!/storage/compiled_tpl/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/storage/uploads/.gitkeep
*.log
*.tmp
.DS_Store
Thumbs.db
